[settings]

;------------------------------
;Appearance
;------------------------------

background_colour=0x000000
background_opacity=128
control_colour=0x101010

text_font=Arial
text_size=12
text_colour=0xB0B0B0

show_labels=1
label_font=Arial
label_size=9
label_colour=0xE0E0E0

status_rows=12
status_font=Arial
status_size=9
status_colour=0xE0E0E0

gap_x=10
gap_y=15
screen_border_x=10
screen_border_y=10

;------------------------------
;ComfyUI
;------------------------------

;leave blank to avoid connection attempt on startup
;127.0.0.1:8188 is the default address for a local installation
default_server_address=

;controlnet preprocessors use custom nodes:
;https://github.com/Fannovel16/comfyui_controlnet_aux
;set to 1 to attempt to use if installed
controlnet_preprocessor_nodes=1

;IPAdapter uses custom nodes:
;https://github.com/cubiq/ComfyUI_IPAdapter_plus
;set to 1 to attempt to use if installed
IPAdapter_nodes=1

;------------------------------
;Horde
;------------------------------

;leave blank to avoid connection attempt on startup
;stablehorde.net is the default AI Horde instance
horde_default_server_address=

;use 0000000000 (or leave blank) to use anonymously
horde_api_key=664a30ec-0760-4f29-b634-00d2bee11f77

horde_use_specific_worker=
horde_allow_nsfw=0
horde_replacement_filter=1
horde_allow_untrusted_workers=1
horde_allow_slow_workers=1
horde_share_with_laion=1

;------------------------------
;Files
;------------------------------

input_folder=images\input\
output_folder=images\output\
horde_output_folder=images\horde_output\

;folder used for saving snapshots of current generation parameters
save_folder=save\

;-----Automatic File Deletion-----;
;please use carefully

;to delete all files from the local input folder on startup:
;delete_input_files_on_startup=DELETEINPUTFILES

;to delete all files from the local output folder on startup:
;delete_output_files_on_startup=DELETEOUTPUTFILES

;to delete all files from the local horde output folder on startup:
;delete_horde_output_files_on_startup=DELETEHORDEOUTPUTFILES

;------------------------------
;Hotkeys
;------------------------------

;For non-letter, non-number keys:        https://www.autohotkey.com/docs/v2/KeyList.htm
;For modifiers:                          https://www.autohotkey.com/docs/v2/Hotkeys.htm#Symbols

hotkey_toggle_overlay=CapsLock

hotkey_toggle_comfy_overlay=

hotkey_generate=
hotkey_clipboard_to_source=
hotkey_clipboard_to_image_prompt=
hotkey_clipboard_to_mask=
hotkey_clipboard_to_controlnet=
hotkey_output_to_clipboard=

hotkey_toggle_horde_overlay=

hotkey_horde_generate=
hotkey_horde_clipboard_to_source=
hotkey_horde_clipboard_to_mask=
hotkey_horde_output_to_clipboard=

;press F-keys (F1 to F12) to quickload
;press Shift+F-key to quicksave
use_save_and_load_hotkeys=1